body{
  font-family:"Helvetica",sans-serif;
  text-align: center;
}

#main-banner{
  background-image: url("./images/background_image.png");
}

#second-banner{
  background-image: url("./images/background_image.png");
  color: white;
  font-weight: bold;
  font-size: 23px;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a{
  font-size: 18px;
  color: white;
}

h2{
font-size: 32px;
font-weight: bold;
}

p{
  font-size: 14px;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

footer{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
